*{
    font-family: Barlow;
}

.navbar{
    width: 100%;
    overflow: auto;
}

ul li a{
    padding: 0px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

 .chose-menu{
    float: right;
} 

/* les carte */
.card-img-top{
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -35px;
    width: 70px !important;
    height: 70px;
}
.card{
    margin-top: 45px ;
    padding-top: 45px;
    background-color: #1F1D2B;
    color: #fff;
    border-radius: 16px;
}
.commande{
    background-color: #EA7C69;
}
.commande a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

